@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
*{
    font-family: 'Montserrat';
}   
   /* Footer styles */

   footer{
    margin-top: 2rem;
   }
   .footer-img{
    height: 50px;

}