@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
*{
    font-family: 'Montserrat';
}   

.login-mdl .modal-content{
    background: rgb(238,242,243);
    background: radial-gradient(circle, rgba(238,242,243,1) 0%, rgba(142,158,171,1) 100%);
}


.modal-content .boton-log{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 2rem;
    color: black;
    font-family: 'Montserrat';
    font-weight: 600;
    text-shadow: 2px 2px 8px black;
    padding: 1rem;
    margin: 0 30%;
    width: 40%;
    transition: all 1s;
}
.modal-content .boton-log:hover{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
   
}
.login-sup{
    color: #E52C23 !important;
    font-family: 'Montserrat';
    font-size: 1.5em;
    font-weight: 900;
    
    background-image: linear-gradient(#E52C23, #E52C23);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    text-shadow: 2px 2px 6px white;
}

.login-sup:hover{
    transition: background-size .4s ease-in-out;
    background-size: 100% 2px;
    color: #E52C23 !important;
    border-radius: 5px;
    text-shadow: 2px 2px 6px white;
}

.ingreso-como{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.roles select{
    border: 2px solid ;
    border-radius: .5rem;
    background: none;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: 600;
}
.roles select.active , .roles select:focus{
    border: none;
}
.ingreso-como .texto-ingcomo{
    font-weight: 600;
    text-shadow: 2px 2px 6px white;
    

}

.texto-regcomo{
    font-weight: 600;
    text-shadow: 2px 2px 6px white;
    font-size: 1.25em;
}