@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}



body{
    background: rgb(238,242,243);
    background: radial-gradient(circle, rgba(238,242,243,1) 0%, rgba(142,158,171,1) 100%);

}


/* .heading {
    background-color: red;
} */


   /* Footer styles */

.footer-img{
    height: 50px;
    

}


