/*  Nav-Tabs */

.cont-cliente{
    margin: 0;
    padding: 0;

}
body{
    background: url(../assets/img/background-clinica2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.cont-cliente .nav-tabs{
    background-image: radial-gradient(#2980B9,#6DD5FA);
    padding: 0;
    margin: 0;
}
.cont-cliente .nav-tabs .nav-item .nav-link.active{
    background-image: radial-gradient(#373B44,#4286f4);
}
.cont-cliente .nav-tabs .nav-item .nav-link{
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 2px 2px 8px#373B44;
}

/*formulario solicitar turno*/

.container{
    width: 80%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    padding: 25px 25px;
    background-color:rgba(79, 64, 123, 0.5);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px;
 
 }
 
 .imagen{
    width: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
 }
 
 
 .contenedor-img{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

/* Inicio Formulario */
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} 

.formulario__label{
    display: block;
    font-weight: 800;
    font-size: 21px;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    background: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3 ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error{
    font-size: 16px;
    font-weight: 800;
    color: rgb(237, 73, 73);
    margin-bottom: 0;
    margin-top: 8px;
    display: none; 
 
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 11%;
    bottom: 15px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;  
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}


.formulario__mensaje{
    height: 45px;
    line-height:45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
    
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
   height: 45px;
   font-size: 20px;
   line-height: 45px; 
   width: 130px;
   background: rgb(51, 86, 228);
   color: white;
   font-weight: bold;
   border-radius: 10px;
   cursor: pointer;
   transition: .1s ease all;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);

}

.formulario__mensaje-exito{
    font-size: 14px;
    color: green;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/* estilos para validacion */

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;

}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}


@media screen and (max-width: 800px){
    .formulario{
       grid-template-columns:1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
    grid-column: 1;
}
}

/* Fin Formulario */