/* Estilos para la tabla */
#tablaTurnos {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tablaTurnos th,
  #tablaTurnos td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Estilos para las acciones de la tabla */
  #tablaTurnos .btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #tablaTurnos .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  #tablaTurnos .btn-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
  }
  
  /* Estilos para hacer responsive la tabla */
  @media screen and (max-width: 600px) {
    #tablaTurnos {
      overflow-x: auto;
    }
  
    #tablaTurnos th,
    #tablaTurnos td {
      white-space: nowrap;
    }
  }
  